@font-face {font-family: 'Museo-700';src: url('fonts/197E39_0_0.eot');src: url('/fonts/197E39_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/197E39_0_0.woff') format('woff'),url('/fonts/197E39_0_0.ttf') format('truetype');}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fontsBebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	font-family: "Helvetica", "Arial", sans-serif;
}

html {
	background: #222 url(/images/ac2-background.png);
}

#header {
   text-align: center;
   padding-top: 10px;
   
}

#header a {
	text-decoration: none;
}

#header h1 {
   margin: 0;
   padding: 0;
   font-family: "Museo-700", "Helvetica", "Arial", sans-serif;
   font-size: 73px;
   color: #ed2024;
   text-shadow: 2px 2px 0px #000000;
   filter: dropshadow(color=#000000, offx=2, offy=2);
}

#header h1 a {
	color: #ed2024;
}

#header p {
   color: #fff;
   font-size: 25px;
   line-height: 1.5;
   font-weight: 300;
   margin-left: 100px;
   margin-right: 100px;
   padding-bottom: 3px;
}

.footerinforight {
	text-align: center;
	margin-bottom: 20px;
	color: #444444;
}

#call-widget-frame {
	overflow: hidden;
	width: 100%;
	height: 456px;
	border: none;
	display: block;
	position: relative;
	padding: 0;
}

#shareitup > div {
	position: fixed;
	z-index: 99999;
}

#shareitup > div.fb-like {
	top: 15px;
	left: 11px;
}

#shareitup > div.twitter-tweet {
	top: 120px;
	left: 10px;
}

#post-signup {
	background: #fff;
	position: relative;
	margin-top: -21px;
	border-top: 5px solid #888;
}

#post-signup > p {
	color: #000;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	clear: both;
}

#post-signup > ul {
	width: 100%;
	clear: both;
	display: block;
}

#post-signup > ul > li {
	float: left;
	width: 25%;
	text-align: center;
	height: 200px;
	vertical-align: middle;
}

.footerarea {
	color: #fff;
	padding: 20px;
	text-align: center;
}

.footerarea a {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

