@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-input-placeholder {
    color:    #777;
}
:-moz-placeholder {
    color:    #777;
}

body {
	background: #f7f7f7 url(/images/broadside-bg.jpg) top center no-repeat;
}

a {
	color: #222;
	text-decoration: underline;
}

p, h1, h2, td {
	color: #000;
}

#share-banner {
	width: 100px;
	height: 248px;
	background: transparent url(/images/share-banner.png) top left no-repeat;
	position: absolute;
	margin-left: 890px;
}

#share-banner > ul {
	margin: 40px 0 0 20px;
	padding: 0;
}

#share-banner > ul > li {
	width: 50px;
	list-style-type: none;
	margin: 0 0 7px 0;
	padding: 0;
}

#share-banner > ul > li > a {
	display: block;
	width: 35px;
	height: 35px;
	background: url(/images/share-sprite.png) top left no-repeat;
}

#share-banner > ul > li > a > span {
	display: none;
}

#share-banner > ul > li.facebook > a {

}

#share-banner > ul > li.twitter > a {
	background-position: 0 -36px;
}

#share-banner > ul > li.tumblr > a {
	background-position: 0 -72px;
}

#share-banner > ul > li.google > a {
	background-position: 0 -108px;
}

header > h1 {
	font-family: BebasNeueRegular, sans-serif;
	font-size: 125px;
	text-align: center;
	line-height: 125px;
	height: 90px;
	width: 753px;
	background: transparent url(/images/time-to-strike-header.png) top center no-repeat;
	color: #000;
	margin: 42px auto 20px auto;
}

header > h1 > span {
	display: none;
}

header > hr, #newspaper hr, #strike-data hr, footer hr {
	border: 0;
	background: url(/images/broken-line.png) top left no-repeat;
	width: 792px;
	height: 2px;
	margin: 0 auto 20px auto;
}

header > p {
	font-family: BebasNeueRegular, sans-serif;
	font-size: 30px;
	width: 80%;
	text-align: center;
	margin: 0 auto 30px auto;
	line-height: 40px;
	color: #000;
}

header > p > strong {
	font-weight: normal;
	color: #8f2929;
}

#call-to-action p, #strike-data p {
	font-family: Georgia, serif;
	font-size: 18px;
	width: 80%;
	text-align: center;
	margin: 0 auto 30px auto;
	line-height: 30px;
	color: #000;
}

#call-to-action p {
	margin-bottom: 5px;
	text-align: left;
	width: 875px;
}

#request-blackout, #my-blackout {
	margin:0 0 45px 28px;
	background: #333;
	padding: 15px 0 15px 0;
	width: 880px;
	box-shadow: 0 2px 5px #666;
}

#request-blackout {
	margin-bottom: 20px;
}

#request-blackout > input#name, #my-blackout > input#nametwo {
	margin-left: 30px;
}

#request-blackout > input, #my-blackout > input {
	height: 38px;
	padding: 0 0 0 5px;
	font-size: 18px;
}

#newspaper {
	margin-bottom: 65px;
}

#newspaper > p.babas {
	font-family: BebasNeueRegular, sans-serif;
	font-size: 30px;
	width: 90%;
	margin: 0 auto 0 auto;
	line-height: 42px;
	color: #000;
	text-align: center;
}

#newspaper > img {
	margin: -60px 0 0 130px;
}

#newspaper > .newspaper-glass {
	display: block;
	width: 70px;
	height: 70px;
	background: transparent url(/images/zoom-in-glass.png) top left no-repeat;
	position: relative;
	margin: 0 0 0 120px;
}

#newspaper > .newspaper-glass > span {
	display: none;
}

#strike-data {

}

#strike-data p {
	width: 79%;
}

#strike-data h2, #strike-data ul > li {
	font-size: 24px;
	font-weight: normal;
	font-family: BebasNeueRegular, sans-serif;
}

#strike-data ul {
	margin-top: 15px;
}

#strike-data ul > li {
	font-size: 18px;
	margin-bottom: 15px;
	float: left;
	width: 50%;
}

#strike-data hr {
	width: 100%;
}

#strike-data table > thead {
	font-family: BebasNeueRegular, sans-serif;
	font-size: 18px;
}

footer {
	font-family: Georgia, serif;
}

footer hr {
	border: 0;
	background: url(/images/broken-line-wide.png) top left no-repeat;
	width: 939px;
	height: 2px;
	margin: 0 auto 20px auto;
}
